


.form-label{
    width: 400px;
}

.form-control{
    width: 400px;
}
.heading1{
    font-family: Arial, sans-serif;
    font-size: 50px;
    margin-bottom: 50px;
}
.user-icon{
    position: absolute;
    margin-left: 370px;
    margin-top: -30px;
    font-size: 20px;
}
.email-icon{
    position: absolute;
    margin-left: 370px;
    margin-top: -30px;
    font-size: 20px;
}

.lock-1{
    position: absolute;
    margin-left: 370px;
    margin-top: -30px;
    font-size: 20px;
    
}
.lock-2{
    position: absolute;
    margin-left: 370px;
    margin-top: -30px;
    font-size: 20px;
    
}
.container {
    padding: 20px; /* Default padding */
    margin-top: 300px; /* Default margin-top */
    border-radius: 10px;
    border: 1px solid #ccc;
    
}

@media (min-width: 768px) {
    .container {
        padding: 50px; /* Adjust padding for medium-sized screens and above */
         /* Adjust margin-top for medium-sized screens and above */
    }
}
